:root {
    --x: 70px;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

.active {
    color: red;
}

h2 .active {
    font-style: italic;
}

#message {
    text-align: center;
}

#board {
    width: calc(3 * var(--x));
    margin: auto;
    font-size: 0;
}

#board button {
    width: var(--x);
    height: var(--x);
    vertical-align: top;
    font-size: 30px;
}

#board button span {
    pointer-events: none;
}

#homepage {
    position: fixed;
    font-size: 18px;
    color: green;
    left: 5px;
    top: 5px;
}